body {
  box-sizing: border-box;
  background-color: black;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.control {
  cursor: pointer;
}

.planet-container {
  position: absolute;
  margin-top: 30px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: black;
}

.planet-center {
  position: relative;
  top: 50vh;
  left: 50vw;
}

.Mercury {
  position: absolute;
  height: 20vh;
  width: 20vw;
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 0px 0px 10px 5px blue, inset 0px 0px 10px 5px blue;
  margin-left: 35vw;
  margin-top: 35vh;
}

.Venus {
  position: absolute;
  height: 30vh;
  width: 30vw;
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 0px 0px 10px 5px blue, inset 0px 0px 10px 5px blue;
  margin-left: 30vw;
  margin-top: 30vh;
}

.Earth {
  position: absolute;
  height: 40vh;
  width: 40vw;
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 0px 0px 10px 5px blue, inset 0px 0px 10px 5px blue;
  margin-left: 25vw;
  margin-top: 25vh;
}

.Mars {
  position: absolute;
  height: 50vh;
  width: 50vw;
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 0px 0px 10px 5px blue, inset 0px 0px 10px 5px blue;
  margin-left: 20vw;
  margin-top: 20vh;
}

.Jupiter {
  position: absolute;
  height: 60vh;
  width: 60vw;
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 0px 0px 10px 5px blue, inset 0px 0px 10px 5px blue;
  margin-left: 15vw;
  margin-top: 15vh;
}

.Saturn {
  position: absolute;
  height: 70vh;
  width: 70vw;
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 0px 0px 10px 5px blue, inset 0px 0px 10px 5px blue;
  margin-left: 10vw;
  margin-top: 10vh;
}

.Uranus {
  position: absolute;
  height: 80vh;
  width: 80vw;
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 0px 0px 10px 5px blue, inset 0px 0px 10px 5px blue;
  margin-left: 5vw;
  margin-top: 5vh;
}

.Neptune {
  position: absolute;
  height: 90vh;
  width: 90vw;
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 0px 0px 10px 5px blue, inset 0px 0px 10px 5px blue;
}

